@model Dictionary<int, List<Diary.Web.ViewModels.TableLessons>>
@{
    ViewData["Title"] = "Lessons";
}
<div class="row">
    <div class="col-md-4">
        <table class="table table-striped" border="1">
            <thead>
                <tr>
                    <td>Понедельник</td>
                    <td>Вторник</td>
                    <td>Среда</td>
                    <td>Четверг</td>
                    <td>Пятница</td>
                    <td>Суббота</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @for (int i = 0; i <= 5; i++)
                    {
                        @for (int j = 0; j <= 6; j++)
                        {
                            <td>
                                @if (Model[i][j].Order != 0)
                                {
                                    @Html.DisplayFor(modelItem => Model[i][j].ClassName)<br />
                                    @Html.DisplayFor(modelItem => Model[i][j].SubjectName)<br />
                                    <p>Кб. @Html.DisplayFor(modelItem => Model[i][j].Cabinet)</p>
                                }
                            </td>
                        }
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>