@model Dictionary<int, List<Diary.Web.ViewModels.TableLessons>>
@{
    ViewData["Title"] = "Lessons";
}
<div class="row">
    <div class="col-md-4">
        <table border="1">
            <tr>
                <td>Понедельник</td>
                <td>Вторник</td>
                <td>Среда</td>
                <td>Четверг</td>
                <td>Пятница</td>
                <td>Суббота</td>
            </tr>
            <tr>
                @for (int i = 1; i <= 6; i++)
                {
                    <td>

                        @foreach (var item in Model[i])
                        {
                            @Html.DisplayFor(modelItem => item.ClassName)<br />
                            @Html.DisplayFor(modelItem => item.SubjectName)<br />
                            <p>Кб. @Html.DisplayFor(modelItem => item.Cabinet)</p>
                        }
                    </td>
                }
            </tr>
        </table>
    </div>
</div>