@model Diary.Web.ViewModels.ClassViewModelcs
<h2>Регистрация нового пользователя</h2>
<form method="post" action="">
    <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <input type="submit" value="Добавить" />
    </div>
</form>
