@model Diary.Web.ViewModels.SubjectViewModel 
<h2>Регистрация нового предмета</h2>
<form method="post" action="">
    <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <input type="submit" value="Добавить" />
    </div>
</form>
