@model Diary.Web.ViewModels.ViewResponse
@{
    ViewData["Title"] = "ViewResponse";
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <package id="jQuery" version="3.2.1" targetFramework="net45" />
        <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
    </head>
}
<div class="form-group">
    <table>
        <tr>
            <td>Учитель</td>
            <td> @Html.DropDownListFor(m => m.TeacherId, ViewBag.Teachers as IEnumerable<SelectListItem>)</td>
        </tr>
        <tr>
            <td>Класс</td>
            <td>@Html.DropDownListFor(m => m.ClassId, ViewBag.Classes as IEnumerable<SelectListItem>)</td>
        </tr>
    </table>
    <a href="javascript:ViewGrade()" class="btn btn-primary">Показать</a><br />
    <!--<a href="#" onclick="return ViewGrade();" class="btn btn-primary">Показать</a><br />-->
</div>

@section Scripts {
    <script>
        function ViewGrade() {
            var n = document.getElementById("TeacherId").options.selectedIndex;
            var m = document.getElementById("ClassId").options.selectedIndex;
            var TeacherId = document.getElementById("TeacherId").options[n].value;
            var ClassId = document.getElementById("ClassId").options[m].value;
            /*  console.log("TeacherId: ", TeacherId);
                console.log("ClassId: ", ClassId);
                console.log('Lenght:', sub.length);
            */
            let item = {
                TeacherId: TeacherId,
                ClassId: ClassId
            };
            fetch('/Admin/SelectResponse', {
                method: 'POST', // or 'PUT'
                body: JSON.stringify(item), // data can be `string` or {object}!
                headers: {
                    'Accept': 'application/json; charset=utf-8',
                    'Content-Type': 'application/json;charset=UTF-8'
                }
            }).then(res => res.json())
                .then(response => {
                    var items = JSON.stringify(response);
                    var sub = JSON.parse(items);
                    console.log('Success:', sub);
                    var newElem = document.createElement('table');
                    document.body.appendChild(newElem);
                    newElem.setAttribute('width', '500');

                })
                .catch(error => console.error('Error:', error));
        }
    </script>
}
