@model Diary.Web.ViewModels.ViewResponse
@{
    ViewData["Title"] = "ViewResponse";
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <package id="jQuery" version="3.2.1" targetFramework="net45" />
        <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
    </head>
}
<div class="form-group">
    <table>
        <tr>
            <td>Учитель</td>
            <td> @Html.DropDownListFor(m => m.TeacherId, ViewBag.Teachers as IEnumerable<SelectListItem>)</td>
        </tr>
        <tr>
            <td>Класс</td>
            <td>@Html.DropDownListFor(m => m.ClassId, ViewBag.Classes as IEnumerable<SelectListItem>)</td>
        </tr>
    </table>
    <a href="javascript:ViewGrade()" class="btn btn-primary">Показать</a><br />
</div>
@section Scripts {
    <script>
        function ViewGrade() {
            var n = document.getElementById("TeacherId").options.selectedIndex;
            var m = document.getElementById("ClassId").options.selectedIndex;
            var TeacherId = document.getElementById("TeacherId").options[n].value;
            var ClassId = document.getElementById("ClassId").options[m].value;
            if (document.getElementById('table'))
                table.parentNode.removeChild(table);
            /*  console.log("TeacherId: ", TeacherId);
                console.log("ClassId: ", ClassId);
                console.log('Lenght:', sub.length);
            */
            let item = {
                TeacherId: TeacherId,
                ClassId: ClassId
            };
            fetch('/Admin/SelectResponse', {
                method: 'POST', // or 'PUT'
                body: JSON.stringify(item), // data can be `string` or {object}!
                headers: {
                    'Accept': 'application/json; charset=utf-8',
                    'Content-Type': 'application/json;charset=UTF-8'
                }
            }).then(res => res.json())
                .then(response => {
                    /* var items = JSON.stringify(response);
                     var sub = JSON.parse(items);
                     console.log('1:', typeof sub);*/
                    var sub = JSON.parse(response);
                    /*console.log('Success:', sub);
                    console.log('size 1:', sub.length);
                    console.log('size 2:', sub[0].length);*/
                    var size1 = sub.length;
                    var size2 = sub[0].length;
                    var newElem = document.createElement('table');
                    newElem.setAttribute('width', '600px');
                    newElem.setAttribute('text-align', 'center');
                    newElem.setAttribute('id', 'table');
                    newElem.setAttribute('name', 'table');
                    newElem.setAttribute('class', 'table table-striped');
                    for (let i = 0; i < size1; i++) {
                        var newRow = newElem.insertRow(i);
                        for (let j = 0; j < size2; j++) {
                            var newCell = newRow.insertCell(j);
                            newCell.setAttribute('width', '30px')
                            newCell.innerHTML = sub[i][j];
                        }
                    }
                    document.body.appendChild(newElem);
                    //document.getElementById('_table').innerHTML = newElem;
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
}