
@model Diary.Web.ViewModels.RegisterViewModelApplicationUser



<script>
    $('div').hide()

    $('#cases').change(function () {
        var value = this.value;
        $('div').hide()
        $('#' + this.value).show();
    });
</script>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="MiddleName"></label><br />
                    <input asp-for="MiddleName" class="form-control" />
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label><br />
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label><br />
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label><br />
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label><br />
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <select name="cases" id="cases">
                    <option value="noChoice">Не выбранно</option>
                    <option value="Teacher">Учитель</option>
                    <option value="Student">Ученик</option>
                </select>
                <div class="noChoice" id="noChoice">
                    <h4>Выберите класс пользователя</h4>
                </div>
                <div class="Teacher" id="Teacher">
                    <label asp-for="Teacher.Post"></label>
                    <span asp-validation-for="Teacher.Post" class="text-danger"></span>
                    @Html.DropDownList("Выберите", ViewBag.Subjects as SelectList)
                </div>
                <div class="Student" id="Student">
                    <label asp-for="Student.Class.Name"></label>
                    <span asp-validation-for="Student.Class.Name" class="text-danger"></span>
                    @Html.DropDownList("Выберите", ViewBag.Classes as SelectList)
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
