
@model Diary.Web.ViewModels.RegisterViewModelApplicationUser
@{
    ViewData["Title"] = "Register";
}
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Регистрация нового пользователя</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="MiddleName"></label><br />
                    <input asp-for="MiddleName" class="form-control" />
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LastName"></label><br />
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label><br />
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label><br />
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label><br />
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                <select name="cases" id="cases" asp-controller="Admin" asp-action="Post">
                    <option value="NoChoice">Не выбранно</option>
                    <option value="Teacher">Учитель</option>
                    <option value="Student">Ученик</option>
                </select>
                <div class="NoChoice" id="NoChoice">
                    <h4>Выберите класс пользователя</h4>
                </div>
                <div class="Teacher" id="Teacher">
                    <label asp-for="TeacherPost"></label>
                    <span asp-validation-for="TeacherPost" class="text-danger"></span>
                    <input asp-for="TeacherPost" class="form-control" /><br />
                    <label asp-for="SubjectIds"></label>
                    <span asp-validation-for="SubjectIds" class="text-danger"></span>
                    @{//Html.DropDownList("Выберите", ViewBag.Subjects as IEnumerable<SelectListItem>)
                    }
                    @Html.ListBoxFor(m => m.SubjectIds, ViewBag.Subjects as IEnumerable<SelectListItem>)
                </div>
                <div class="Student" id="Student">
                    <label asp-for="ClassId"></label>
                    <span asp-validation-for="ClassId" class="text-danger"></span>
                    @Html.DropDownListFor(m => m.ClassId, ViewBag.Classes as IEnumerable<SelectListItem>)
                </div>
                <button type="submit" class="btn btn-primary">Регистрация</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        // hide all the divs
        $('#Teacher, #Student, #NoChoice').hide()

        // Show and hide selected div
        $('#cases').change(function () {
            var value = this.value;
            console.log('change', value)

            $('#Teacher, #Student, #NoChoice').hide()
            $('#' + this.value).show();
        });
    </script>
}
